In [6]:
import numpy as np
import pandas as pd
import sys
import os
import itertools
import scipy.misc as spymis

In [3]:
SELECTED = [
    "M1", "M2", "M4"   
]
selected_blocks = SELECTED

In [2]:
block_ids = [0,1,4]

In [4]:
"""To generate plate map"""
row = 0
col = 0
i = 0
row_chr = 65
plate_nrows = 8
plate_ncols = 12

plate_grid = np.empty([96,3])
while row < plate_nrows:
    row_label = row_chr + row
    while col < plate_ncols:
        well = [i, row, col+1]
        
        col += 1
    
    row += 1

In [24]:
"""Gets number of all possible combinations"""
num_combs = int(sum([spymis.comb(len(block_ids),i) for i in range(len(block_ids)+1)]))
wells = np.zeros([num_combs, len(block_ids)], dtype=int)
# well_ids = range(num_combs)

"""Generate a *regular array*, each row as one well"""
w = 0
for i in range(len(block_ids)+1):
    for c in itertools.combinations(range(len(block_ids)), i):
        wells[w][list(c)] = 1
        w += 1

wells_df = pd.DataFrame(wells, columns=block_ids)
wells_df.index.name = "well_id"
wells_df.columns.name = "block_id"

In [36]:
wells_df_print = wells_df.copy()
wells_df_print.columns = ["M%s"%str(m) for m in wells_df.columns]
wells_df_print.replace(0,None, inplace=True)
# wells_df.replace(1,[c for c in wells_df.columns])

TypeError: cannot replace [0] with method pad on a DataFrame

In [28]:
wells_df_print

        M0 M1 M4
well_id
0
1        1
2           1
3              1
4        1  1
5        1     1
6           1  1
7        1  1  1

In [29]:
help(wells_df_print.replace)

Help on method replace in module pandas.core.generic:

replace(self, to_replace=None, value=None, inplace=False, limit=None, regex=False, method='pad', axis=None) method of pandas.core.frame.DataFrame instance
    Replace values given in 'to_replace' with 'value'.

    Parameters
    ----------
    to_replace : str, regex, list, dict, Series, numeric, or None

        * str or regex:

            - str: string exactly matching `to_replace` will be replaced
              with `value`
            - regex: regexs matching `to_replace` will be replaced with
              `value`

        * list of str, regex, or numeric:

            - First, if `to_replace` and `value` are both lists, they
              **must** be the same length.
            - Second, if ``regex=True`` then all of the strings in **both**
              lists will be interpreted as regexs otherwise they will match
              directly. This doesn't matter much for `value` since there
              are only a few possible substitution regexes you can use.
            - str and regex rules apply as above.

        * dict:

            - Nested dictionaries, e.g., {'a': {'b': nan}}, are read as
              follows: look in column 'a' for the value 'b' and replace it
              with nan. You can nest regular expressions as well. Note that
              column names (the top-level dictionary keys in a nested
              dictionary) **cannot** be regular expressions.
            - Keys map to column names and values map to substitution
              values. You can treat this as a special case of passing two
              lists except that you are specifying the column to search in.

        * None:

            - This means that the ``regex`` argument must be a string,
              compiled regular expression, or list, dict, ndarray or Series
              of such elements. If `value` is also ``None`` then this
              **must** be a nested dictionary or ``Series``.

        See the examples section for examples of each of these.
    value : scalar, dict, list, str, regex, default None
        Value to use to fill holes (e.g. 0), alternately a dict of values
        specifying which value to use for each column (columns not in the
        dict will not be filled). Regular expressions, strings and lists or
        dicts of such objects are also allowed.
    inplace : boolean, default False
        If True, in place. Note: this will modify any
        other views on this object (e.g. a column form a DataFrame).
        Returns the caller if this is True.
    limit : int, default None
        Maximum size gap to forward or backward fill
    regex : bool or same types as `to_replace`, default False
        Whether to interpret `to_replace` and/or `value` as regular
        expressions. If this is ``True`` then `to_replace` *must* be a
        string. Otherwise, `to_replace` must be ``None`` because this
        parameter will be interpreted as a regular expression or a list,
        dict, or array of regular expressions.
    method : string, optional, {'pad', 'ffill', 'bfill'}
        The method to use when for replacement, when ``to_replace`` is a
        ``list``.

    See Also
    --------
    NDFrame.reindex
    NDFrame.asfreq
    NDFrame.fillna

    Returns
    -------
    filled : NDFrame

    Raises
    ------
    AssertionError
        * If `regex` is not a ``bool`` and `to_replace` is not ``None``.
    TypeError
        * If `to_replace` is a ``dict`` and `value` is not a ``list``,
          ``dict``, ``ndarray``, or ``Series``
        * If `to_replace` is ``None`` and `regex` is not compilable into a
          regular expression or is a list, dict, ndarray, or Series.
    ValueError
        * If `to_replace` and `value` are ``list`` s or ``ndarray`` s, but
          they are not the same length.

    Notes
    -----
    * Regex substitution is performed under the hood with ``re.sub``. The
      rules for substitution for ``re.sub`` are the same.
    * Regular expressions will only substitute on strings, meaning you
      cannot provide, for example, a regular expression matching floating
      point numbers and expect the columns in your frame that have a
      numeric dtype to be matched. However, if those floating point numbers
      *are* strings, then you can do this.
    * This method has *a lot* of options. You are encouraged to experiment
      and play with this method to gain intuition about how it works.

In [34]:
wells_df_print.replace(1,dict([(c,c) for c in wells_df_print.columns]), inplace=True)
wells_df_print['listed'] = wells_df_print.apply(lambda x: ", ".join(x.values[x.values!=""]), axis=1)

In [35]:
wells_df_print

         M0  M1  M4                  listed
well_id
0                                      , ,
1        M0                      M0, M0, ,
2            M1                  M1, , M1,
3                M4              M4, , , M4
4        M0  M1            M0, M1, M0, M1,
5        M0      M4        M0, M4, M0, , M4
6            M1  M4        M1, M4, , M1, M4
7        M0  M1  M4  M0, M1, M4, M0, M1, M4

In [8]:
# sample string fill
prompt_str = "Add %d equivalents of %s to well %d."%(2,str(0),1)

In [9]:
prompt_str

'Add 2 equivalents of 0 to well 1.'

In [131]:
# """Generate plate grid table ref (well_id vs row/col name/id)

# As of 9 Mar 2017 -- incomplete / glitchy
# """

# def fill_grid_coords(r):
#     row = np.floor(plate_ncols * 1. / r.well_id)
#     col = plate_nrows % (r.well_id + 1)
#     pad = "0"*(np.floor(plate_ncols*1./(col+1)))
#     label = "%s%s%d"%(chr(int(first_chr + row)), pad, col)
#     r[['row','col','label']] = [row, col, label]
#     return r

# first_chr = 65

# grid = pd.DataFrame(columns=['well_id','row','col','label'])
# grid['well_id'] = range(plate_nrows * plate_ncols)
# grid.apply(fill_grid_coords, axis=1)

In [132]:
# # one-indexed for to be consistent with standard well plates
# i = 0
# # corresponds to ASCII ordinal for "A"
# # minus one because 1 indexed
# ord_row = 65
# # nrows just in case; not really used as of 8 Mar 2017
# plate_nrows = 8
# plate_ncols = 12

# row = 0
# while row < plate_nrows:
#     row_m = chr(row+1)
#     col = 0
#     # number of columns in plate (assume 96 well)
#     while col < plate_ncols:
#         well = [i+1, row_m, col+1]
#         grid_names[i] = well
#         col += 1
#         i+=1
        
#     row += 1